@model Project.Models.Question

<div>
    <h5>Question</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questiontext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questiontext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
</div>
